/* .body{
  background-color: #f0f0f0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

header {
  padding: 156px 0 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/wp2019259.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#mainNav{
  background-color: rgb(35, 94, 221);
}


#footer{
  background-color: rgb(35, 94, 221);
}
 */

 a{
  text-decoration: none;
}
