body{
  background-color: #f0f0f0;
 width: 100%;
 /* height: 100vh; */

}



header {
  padding: 156px 0 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/wp2019259.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#mainNav{
  background-color: #003399;
  /* background-image:  url("https://c4.wallpaperflare.com/wallpaper/971/1011/721/blue-pastel-wallpaper-preview.jpg"); */
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;


}

p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#footer{
   background-color: #003399;
   /* background-image:  url("https://www.olalekan.website/images/blackbgg.jpg"); */
}










