

<div class="body"  >

  <div class="row">

      <button

      routerLink="/saveWork"
      pButton
      pRipple
      label="SAVE WORK"
      class="p-button-raised set-center p-button-warning p-button-rounded" >
      </button>


  </div>

  <div class="row">

      <button

      routerLink="/project"
      pButton
      pRipple
      label="PROJECT"
      class="p-button-raised set-center p-button-success p-button-rounded" >
      </button>

  </div>

  <div class="row">

      <button

      routerLink="/jobtype"
      pButton
      pRipple
      label="JOB TYPE"
      class="p-button-raised set-center p-button-warning p-button-rounded" >
      </button>


  </div>


</div>
