

.igx-typography  {
  margin: 0;
  color: rgb(0 0 0 / 85%);
  font-size: 14px;
  font-variant: tabular-nums;
  background-color: rgb(104 255 245) !important;
}

 .set-center{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 130px;
  width: 244px;
  left: 50%;
  top: 50%;
  margin-top: 69px;
  margin-left: -102px;
  /* position: fixed; */
  font-size: 20px;
  color: white;

}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 46px;
  padding-top: 20px;
}
